div.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    font-size: 40px;
    right: 1%;
    bottom: 50%;
    background: var(--color-accent);
    border-radius: 10px;
    width: 1%;
    height: 2%;
    animation: transform 3s;
}
div.arrow:hover{
    background: var(--color-primary);
}
div.arrow:hover a{
    color: var(--color-accent);
}
div.arrow a{
    text-decoration: none;
    color: var(--color-primary);
}