<link rel="stylesheet" href="css/footer.css">
<footer id="footer">
  <div class="col col1">
    <h3>Nathan DELALANDE</h3>
    <div class="social">
      <a href="" target="_blank" class="link"><i class="bi bi-envelope"></i></a>
      <a href="" target="_blank" class="link"><i class="bi bi-linkedin"></i></a>
      <a href="" target="_blank" class="link"><i class="bi bi-instagram"></i></a>
    </div>
  </div>
  <div class="col col2">
    <p><a href="index.html">Accueil</a></p>
    <p><a href="etude.html">Études</a></p>
    <p><a href="competences.html">Compétences</a></p>
    <span>© 2026 Nathan DELALANDE. Tous droits réservés.</span>
  </div>
  <div class="col col3">
    <p><a href="projets.html">Projets</a></p>
    <p><a href="veille.html">Veille</a></p>
    <p><a href="contact.html">Contact</a></p>
  </div>
</footer>