<link rel="stylesheet" href="css/navbar.css">
<nav class="navbar" id="navbar">
  <div class="logo"><a href="index.html"><img src="assets/logo_transparent_blanc.png"></a></div>
  <header class="mobile">
    <button popovertarget="menu">
      <a>X</a>
    </button>

    <nav popover role="menu" id="menu">
        <button popovertarget="menu" popovertargetaction="hide">
          <a>X</a>
        </button>
      <ul>
        <li><a href="index.html">Accueil</a></li>
        <li><a href="etude.html">Études</a></li>
        <li><a href="competences.html">Compétences</a></li>
        <li><a href="#">Projets</a></li>
        <li><a href="#">Veille</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>
  <ul class="nav-links">
    <li>
      <span class="item">
        <i class="bi bi-house-door"></i>
      </span>
      <a href="index.html">Accueil</a>
    </li>
    <li>
      <span class="item">
        <i class="bi bi-backpack"></i>
      </span>
      <a href="etude.html">Études</a>
    </li>
    <li>
      <span class="item">
        <i class="bi bi-person-circle"></i>
      </span>
      <a href="#">Profil</a>
      <ul class="dropdown">
        <li>
          <a href="competences.html">Compétences</a>
        </li>
        <li>
          <a href="#">Projets</a>
        </li>
      </ul>
    </li>
    <li>
      <span class="item">
        <i class="bi bi-book"></i>
      </span>
      <a href="#">Veille</a>
    </li>
    <li>
      <span class="item">
        <i class="bi bi-person-rolodex"></i>
      </span>
      <a href="contact.html">Contact</a>
    </li>
  </ul>
</nav>